@font-face {
    font-family: "Handlee";
    src: url('./fonts/Handlee/Handlee-Regular.ttf');
}

.mainPage, .showPage, .newPage, .editPage {
    background-image: url('./images/watercolour-background-with-leaves/17.jpg');
    background-repeat: repeat-y;
    background-position: center;
    background-size: cover;
    height: 100%;
}

.Button, .nSubmitButton, .dashButton {
    font-family: "Handlee";
    font-weight: bold;
    background-color: #FDDA0D;
}

/* Index */

.indexList, .showPage, .editPage, .newPage {
    font-family: "Handlee", 'cursive';
    display: grid;
    text-align: center;
}

header {
    font-family: "Handlee";
    color: #0047AB;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #FDDA0D;
    margin-top: 100px;
}

.indexHyperlink {
    color: #0047AB;

}

.indexBorder {
    border: 15px solid #FDDA0D;
    border-radius: 75%;
    padding: -75px;
    margin: 5px;
}

.indexButton {
   position: absolute;
   bottom: 93%;
   left: 50%;
   transform: translate(-50%, -50%);
   
}


/* Show */

.name {
    color: #0047AB;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: #FDDA0D;
}

.contents {
    border: 5px solid #FDDA0D;
    border-radius: 75%;
    padding: -75px;
    margin: 5px;
}

/* New and Edit*/

.nButtons, .sButtons {
    font-family: "Handlee";
    font-weight: bold;
    background-color: #FDDA0D;
    margin-top: 15px;
}

.newForm {
    margin-top: 30px;
}

.Header {
    margin-top: 5%;
}

.Input {
    background-color: #FDDA0D;
}











