<!DOCTYPE html>
<html lang="en">
    <%- include("./cssjs.ejs") %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body class="editPage">

    <header class="Header"> 
        <h1>Edit <%= list.item %></h1> </header>

    <div class="editForm">

        <form action="/list/<%= list._id %>?_method=PUT" method="POST">

            <fieldset>
                <label>
                    Brand:<input class="Input" type="text" name="brand" placeholder="preferred brand of item">
                </label>
            
                <label>
                    Store Location:<input class="Input" type="text" name="location" placeholder="preferred pickup location">
                </label>

                <label>
                    Quantity:<input class="Input" type="number" name="quantity" placeholder="how many do you need?">
                </label>

                <label>
                    Cost:<input class="Input" type="text" name="cost" placeholder="estimated cost">
                </label>

                <label>
                    Purchased:<input type="checkbox" name="purchased">
                </label>

            </fieldset>
    </div>
    <div>
        <input class="Button" type="submit" value="Submit Changes">
    </div>

    <div class="dashboard">
        <a href="/list"><button class="Button">Dashboard</button></a>
    </div>