<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    <div class="newForm">
        <form action="/list" method="POST">
            <fieldset>
                <legend> Add an Item</legend>
                <label>
                    Item:<input type="text" name="item" placeholder="name of item">
                </label>

                <label>
                    Brand:<input type="text" name="brand" placeholder="preferred brand of item">
                </label>

                <label>
                    Store Location:<input type="text" name="location" placeholder="preferred pickup location">
                </label>

                <label>
                    Quantity:<input type="number" name="quantity" placeholder="how many do you need?">
                </label>

                <label>
                    Cost:<input type="text" name="cost" placeholder="estimated cost">
                </label>

                <label>
                    Purchased:<input type="checkbox" name="purchased">
                </label>

            </fieldset>
    </div>
    <div class="submitNewButton">
        <input type="submit" value="Add New Item">
    </div>












    
</body>
</html>