<!DOCTYPE html>
<html lang="en">
    <%- include("./cssjs.ejs") %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body class="newPage">
    <header>
        <h1>Add a New Item to Your List</h1>
    </header>
    <div class="newForm">

        <form action="/list" method="POST">
            <fieldset>

                <label>
                    Item:<input type="text" name="item" placeholder="name of item">
                </label>

                <label>
                    Brand:<input type="text" name="brand" placeholder="preferred brand of item">
                </label>

                <label>
                    Store Location:<input type="text" name="location" placeholder="preferred pickup location">
                </label>

                <label>
                    Quantity:<input type="number" name="quantity" placeholder="how many do you need?">
                </label>

                <label>
                    Cost:<input type="text" name="cost" placeholder="estimated cost">
                </label>

                <label>
                    Purchased:<input type="checkbox" name="purchased">
                </label>

            </fieldset>
    </div>
    <div class="nButtons">
        <input class="nSubmitButton" type="submit" value="Add New Item">
    </div>
    <div class="nButtons">
        <a href="/list"><button class="dashButton">Dashboard</button></a>
    </div>

</body>
</html>